@media (max-width: 900px) {

    .summary{
        grid-template-columns:1fr;
    }

    .content{
        grid-template-columns:1fr;
    }

    .toolbar{
        flex-direction:column;
    }

    #search{
        flex:unset;
        width:100%;
    }

    .toolbar select{
        width:100%;
    }


}

@media (max-width:450px){

    .transaction-footer{
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }

    .actions{
        width:100%;
        justify-content:flex-end;
    }

    header h1{
        font-size:2rem;
    }

    .card h2{
        font-size:1.5rem;
    }

    .form-container h2,
    .history h2{
        font-size:1.8rem;
    }

    .container{
        width:94%;
    }

}